<main>
  <p><a [href]="'/artworks'">&larr; Back to Artworks Gallery View</a></p>
  <h2>ARTWORK DETAILS</h2>

  <div *ngIf="isLoading || artwork == null">
    <p>Retrieving artwork data...</p>
  </div>
  <div class="container" *ngIf="!isLoading && artwork != null">
    <div class="row">
      <div class="col-6">
        <img class="card-image" [src]="artwork.getImageURL()" /> 
      </div>
      <div class="col-6">
        <h4 class="mb-4 mt-2 font-bold">{{artwork.title + " (" + artwork.yearCreated + ")"}}</h4>
        <ng-container>
          <h5>Artist</h5>
          <p>{{artwork.artist}}</p>       
        </ng-container>
        <ng-container *ngIf="artwork.description != ''">
          <h5>Description</h5>
          <p>{{artwork.description}}</p> 
        </ng-container>
        <ng-container>
          <h5>Categories</h5>
          <p>{{artwork.categories}}</p> 
        </ng-container>
        <ng-container *ngIf="artwork.media != ''">
          <h5>Media</h5>
          <p>{{artwork.media}}</p> 
        </ng-container>
        <ng-container *ngIf="artwork.dimensions != ''">
          <h5>Dimensions</h5>
          <p>{{artwork.dimensions}}</p> 
        </ng-container>
      </div>
    </div>
  </div>
</main>